body {
  padding: 1em;
  font-family: "Tahoma";
}

#myContainer {
  width: 800px;
  height: 450px;
  margin: auto;
  border: 1px;
  border-style: solid;
  border-color: #696969;
  float: right;
}

.photoLink {
  display: block;
  width: 30em;
}

.photoLink a {
  display: block;
  font-size: 80%;
  margin-bottom: 0.2em;
}

.strong {
  font-weight: bold;
}

.prose {
  font-size: 115%;
}

.textBox {
  width: 400px;
  height: 300px;
  background-color: rgb(210, 230, 226);
  padding: 3px;
}

.table {
  display: table;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
  padding: 0.5em;
}

.link {
  color: blue;
  text-decoration: underline;
}

.leftPanel {
  float: left;
  margin-right: 2em;
}

.rightPanel {
  float: right;
}

#logos {
  float: right;
  /*background-color:#dcdcdc;*/
  height: 100%;
  margin-top: 22px;
}

#logos img {
  display: block;
}
